@using AritySystems.Data;
@model AritySystems.Data.SupplierCartoon
@{
    ViewBag.Title = "Add Supplier Carton Detail";
}
<style>
    span.child-product {
        padding-left: 30px;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-shopping-cart"></i> Add Supplier Carton Detail</h1>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-offset-11"><button class="btn btn-primary" onclick="location.href='@Url.Action("OrderLineItems","order")';"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button></div>
            @using (Html.BeginForm("AddSupplierCartonDetail", "Order", FormMethod.Post, new { id = ViewBag.OrderId }))
            {
                <div class="col-md-8" style="margin-bottom:20px;">
                    <div class="form-group">
                        <input type="hidden" value="@ViewBag.OrderId" id="OrderId" />
                        <div class="col-md-12"><h4>@ViewBag.OrderDate </h4></div>
                        <div class="col-md-12">
                            <h4>  @ViewBag.OrderName</h4>
                        </div>
                        <div class="col-md-12">
                            <h4> Status<span style="background-color:cadetblue;padding:4px;color:#fff;"> <i class="fa fa-refresh"></i> @ViewBag.Status</span></h4>
                        </div>
                    </div>                   
                        </div>
                <div class="col-md-12">
                    <table class="table borderless" id="tblSupplierCartonDetail">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product Name</th>
                                @*<th>Order Line Item</th>*@
                                <th>Pcs Per Carton</th>
                                <th>Total Cartons</th>
                                <th>Net Weight</th>
                                <th>Total Net Weight</th>
                                <th>Carton Size</th>
                                <th>Carton BM</th>
                                <th>Carton Number</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                   <div class="col-md-8" style="margin-bottom:20px;">
                    @Html.TextBox("OrderId", 0, new { @type = "hidden", @class = "form-control" })
                    <div class="form-group">
                        <label class="">Order Line Items</label>
                        @Html.DropDownList("SupplierOrderMapId", ViewBag.OrderLineItems as SelectList, "-- Select OrderLineItems--", new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label class="">Pieces Per Carton</label>
                        @Html.TextBox("PcsPerCartoon", 0, new { @type = "number", @class = "form-control" })

                    </div>
                    <div class="form-group">
                        <label class="">Total Cartons</label>
                        @Html.TextBox("TotalCartoons", 0, new { @type = "number", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Net Weight</label>
                        @Html.TextBox("NetWeight", 0, new { @type = "number", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Total Net Weight</label>
                        @Html.TextBox("TotalNetWeight", 0, new { @type = "number", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Carton Size</label>
                        @Html.TextBox("CartoonSize", 0, new { @type = "number", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Carton BM</label>
                        @Html.TextBox("CartoonBM", 0, new { @type = "number", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Carton Number</label>
                        @Html.TextBox("CartoonNumber", 0, new { @type = "text", @class = "form-control" })
                    </div>

                    <div class="col-md-2 col-md-offset-5">
                        <button type="submit" class="btn btn-success"><i class="fa fa-shopping-bag"></i> Submit</button>
                    </div>
                </div>
            }
           
        </div>
       
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section Scripts {
    <script>

        $("#btnSubmit").click(function () {

        });

        $(document).ready(function () {            
            var orderid = $('#OrderId').val();
            var table = $('#tblSupplierCartonDetail').DataTable({
                "ajax": "/Order/SupplierCartonList?OrderId=" + orderid,
                "columns": [
                    {
                        "data": "Id",
                        "orderable": false,
                        "render": function (data, type, full) {
                            return '<input type="hidden" id="txtId" value="' + data + '"/>'
                        }
                    },
                   {"data":"Product_English_Name"},
                      {"data":"PcsPerCartoon"},
                      {"data":"TotalCartoons"},
                      {"data":"NetWeight"},
                      {"data":"TotalNetWeight"},
                      {"data":"CartoonSize"},
                         {"data":"CartoonBM"},
                            {"data":"CartoonNumber"},
                ],
                "supplierCartonDetail": [[1, 'asc']]
            });

        });
    </script>

}

