@using AritySystems.Data;
@model AritySystems.Models.SupplierCartoonModel
@{
    ViewBag.Title = "Add Supplier Carton Detail";
}
<style>
    span.child-product {
        padding-left: 30px;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-shopping-cart"></i> Add Supplier Carton Detail</h1>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-offset-11"><button class="btn btn-primary" onclick="location.href='@Url.Action("SuppliersOrder","order")';"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button></div>
            @using (Html.BeginForm("AddSupplierCartonDetail", "Order", FormMethod.Post, new { id = ViewBag.OrderId }))
            {
                <div class="col-md-8" style="margin-bottom:20px;">
                    <div class="form-group">
                        <input type="hidden" value="@ViewBag.OrderId" id="OrderId" />
                        <div class="col-md-12"><h4>@ViewBag.OrderDate </h4></div>
                        <div class="col-md-12">
                            <h4>  @ViewBag.OrderName</h4>
                        </div>
                        @*<div class="col-md-12">
                            <h4> Status<span style="background-color:cadetblue;padding:4px;color:#fff;"> <i class="fa fa-refresh"></i> @ViewBag.Status</span></h4>
                        </div>*@
                    </div>                   
                        </div>
                <div class="col-md-12">
                    <table class="table borderless" id="tblSupplierCartonDetail">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product Name</th>
                                @*<th>Order Line Item</th>*@
                                <th>Pcs Per Carton</th>
                                <th>Total Cartons</th>
                                <th>Net Weight</th>
                                <th>Total Net Weight</th>
                                <th>Carton Size</th>
                                
                                <th>Carton Number</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-8" style="margin-bottom:20px;">
                    @Html.TextBox("OrderId", 0, new { @type = "hidden", @class = "form-control" })
                    <div class="form-group">
                        <label class="">Order Line Items</label>
                        @Html.DropDownList("SupplierOrderMapId", ViewBag.OrderLineItems as SelectList, "-- Select OrderLineItems--", new { id = "supplierorderdd", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label class="">Pieces Per Carton</label>
                        @Html.TextBoxFor(x => x.PcsPerCartoon, new { id = "pcspercarton", @type = "number", @class = "form-control" })

                    </div>
                    <div class="form-group">
                        <label class="">Total Cartons</label>
                        @Html.TextBoxFor(x => x.TotalCartoons, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Net Weight (KG)</label>
                        @Html.TextBoxFor(x => x.NetWeight, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Gross Weight (KG)</label>
                        @Html.TextBoxFor(x => x.GrossWeight, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Carton Size (L) (CM)</label>
                        @Html.TextBoxFor(x => x.CartoonLength, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Carton Size (b) (CM)</label>
                        @Html.TextBoxFor(x => x.CartoonBreadth, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">
                            Carton Size (H) (CM)
                        </label>
                        @Html.TextBoxFor(x => x.CartoonHeight, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="">Carton BM (CM)</label>
                        @Html.TextBoxFor(x => x.CartoonBM, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.CartoonNumber)
                    </div>
                    <div>
                        @Html.HiddenFor(x => x.CartoonPrefix)
                    </div>
                    <div>
                        @Html.HiddenFor(x => x.OrderId)
                    </div>
                    @*<div class="form-group">
            <label class="">Carton Number</label>
            @Html.TextBox("CartoonNumber", 0, new { @type = "text", @class = "form-control" })
        </div>*@

                    <div class="col-md-2 col-md-offset-5">
                        <button type="submit" class="btn btn-success" id="btnSubmit"><i class="fa fa-shopping-bag"></i> Submit</button>
                    </div>
                </div>
            }
           
        </div>
       
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section Scripts {
    <script>

        //$("#btnSubmit").click(function () {
        //    $("#btnSubmit").prop('disabled', true);
        //});

        $(document).ready(function () {           
            $("#btnSubmit").prop('disabled', false);
            var orderid = $('#OrderId').val();
            var table = $('#tblSupplierCartonDetail').DataTable({
                "ajax": "/Order/SupplierCartonList?OrderId=" + orderid,
                "columns": [
                    {
                        "data": "Id",
                        "orderable": false,
                        "render": function (data, type, full) {
                            return '<input type="hidden" id="txtId" value="' + data + '"/>'
                        }
                    },
                    { "data":"Product_Chinese_Name"},
                      {"data":"PcsPerCartoon"},
                      {"data":"TotalCartoons"},
                      {"data":"NetWeight"},
                      {"data":"TotalNetWeight"},
                      {"data":"CartoonSize"},
                            {"data":"CartoonNumber"},
                ],
                "supplierCartonDetail": [[1, 'asc']]
            });
            $('#supplierorderdd').on('change', function () {
                var myValue = $(this).val();
               // var myText = $.trim($("#supplierorderdd :selected").val()); // Trim spaces and convert to lowercase for comparison

                $("#pcspercarton").text();
            });
        });
    </script>

}

