@using AritySystems.Data;
@{
    ViewBag.Title = "MakeOrder";
}
<style>
    span.child-product {
        padding-left: 30px;
    }

    .lable-style {
        font-size: 18px;
        padding: 19px;
    }

    .spn-error {
        display: block;
        font-size: 12px;
        color: red;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-shopping-cart"></i> Place Order</h1>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                @if (TempData["Success"] != null)
                {
                    <span class="label-success label lable-style" style="font-size:17px;"> <i class="fa fa-check-square-o"></i> @TempData["Success"]</span>
                }
                else if (TempData["Error"] != null)
                {
                    <span class="label-danger label lable-style" style="font-size:17px;"> <i class="fa fa-question-circle-o"></i> @TempData["Error"]</span>
                }
            </div>
            <div class="col-md-8" style="margin-bottom:20px;">
                <div class="form-group">
                    <label class="">Select Product</label>
                    @Html.DropDownList("ProductId", ViewBag.Products as SelectList, "-- Select Product--", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="">Product Quantity</label>
                    @Html.TextBox("ProductQty", 0, new { @type = "number", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="">Product Price - <span id="ProductDollar_Price" style="font-size:16px;"></span></label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="btnAddToCart"> <i class="fa fa-cart-plus"></i> Add To Cart</button>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-3"><button class="btn btn-primary" onclick="location.href='@Url.Action("orderlist","order")';"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button></div>
        </div>
        <div class="col-md-12" id="lineItem" style="display:none;">
            @using (Html.BeginForm("MakeOrder", "Order", FormMethod.Post))
            {
                <table class="table table-striped">
                    <tr>
                        <th>Product Name</th>
                        <th align="center">Quantity</th>
                        <th align="center">Price($)</th>
                        <th align="center">Total($)</th>
                        <th align="center">&nbsp;</th>
                    </tr>
                    <tbody id="lstProducts"></tbody>
                </table>
                <div class="col-md-2 col-md-offset-10" style="text-align:right;">
                    <b>Order Total : <span class="order-total"></span></b>
                </div>
                <div class="col-md-4 col-md-offset-8" style="text-align:right;">
                    <table style="width:100%;font-style:italic"><tr><td>Expected Weight : <b id="expectedWeight"></b></td><td>Expected CBM : <b id="expectedCBM"></b></td></tr></table>
                </div>
                <div class="col-md-2 col-md-offset-5">
                    <button type="submit" class="btn btn-success" id="btnPlaceOrder"><i class="fa fa-shopping-bag"></i> Place Order</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    window.productCounter = 1;
    $("#btnAddToCart").attr("disabled", "disabled");
    $("#ProductQty").on('change', function () {
        EnableButton();
    });
    $("#btnPlaceOrder").on("click", function (e) {
        var isClikable = false;

        $("table").find(".spn-error").remove();
        $("input").css("border-color", "");
        $(".qty-check").each(function () {
            if (parseInt($(this).val()) < parseInt($(this).attr('data-moq'))) {
                isClikable = true;
                $(this).css("border-color", "red");
                $(this).after($("<span class='spn-error'>Quantity should be more then " + $(this).attr('data-moq') + "</span>"));
            }
        });
        if (isClikable) {
            e.preventDefault();
            return false;
        }
        return true;
    });
    $("#ProductId").on("change", function () {
        if ($(this).val() != null) {
            EnableButton();
            $.ajax({
                url: "@Url.Action("GetProductDetail","Order")",
                method: "GET",
                data: { id: $("#ProductId").val() },
                dataType: "json"
            }).done(function (response) {
                if (response != null) {
                    $("#ProductDollar_Price").text("$" + response.Dollar_Price);
                }
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
            });
        }
    });

    $("#btnAddToCart").on("click", function () {
        $(this).html("<i class='fa fa-spinner fa-pulse fa-fw'></i> Adding into Cart...")
        $.ajax({
            url: "@Url.Action("AddProductToCart","Order")",
            method: "POST",
            data: { id: $("#ProductId").val(), qty: $("#ProductQty").val() },
            dataType: "json"
        }).done(function (response) {
            if (response.data != null) {
                $.each(response.data, function (e, data) {
                    var tableData = "";
                    if ($(".tr_" + data.Id).length <= 0) {
                        if (data.ParentIds != null && data.ParentIds != '')
                            tableData = "<tr id='tr_" + window.productCounter + "' class='tr_" + data.Id + "'><td><input type='hidden' name='productId_" + window.productCounter + "' value='" + data.Id + "'/><span class='" + ((data.ParentIds != null && data.ParentIds != '') ? "child-product" : "") + "'> " + data.English_Name + "</span></td><td><input style='text-align:center;' onkeyup='qtyTouched(this);' class='qty-check' data-moq='" + data.Quantity + "' type='number' value='" + data.MOQ + "' name='qty_" + window.productCounter + "' /></td><td><input type='hidden' value='" + data.Dollar_Price + "' id='spnPrice_" + window.productCounter + "'/>$" + data.Dollar_Price + "</td><td><span id='total_" + window.productCounter + "' class='itemTotal' data-CBM='" + data.CBM + "' data-Weight='" + data.Weight + "' data-qty='" + data.MOQ + "'>$" + (data.Dollar_Price * data.MOQ) + "</span></td><td align='center'><i class='fa fa-remove' style='color:red;cursor:pointer;' onclick='removeItem(" + window.productCounter + ")'></i></td></tr>"
                        else
                            tableData = "<tr id='tr_" + window.productCounter + "' class='tr_" + data.Id + "'><td><input type='hidden' name='productId_" + window.productCounter + "' value='" + data.Id + "'/><span class='" + ((data.ParentIds != null && data.ParentIds != '') ? "child-product" : "") + "'> " + data.English_Name + "</span></td><td></td><td></td><td></td><td></td></tr>"
                        $("#lstProducts").append(tableData)
                        window.productCounter = window.productCounter + 1;
                    }
                });
                $("#btnAddToCart").html("<i class='fa fa-check-circle'></i> Added");
                CountTotal();
                CountCBMandWeight();
                $("#lineItem").show();
                setTimeout(function () {
                    $("#btnAddToCart").html("<i class='fa fa-cart-plus'></i> Add To Cart");
                }, 1000);
            }
        }).fail(function (jqXHR, textStatus) {
            console.log("Request failed: " + textStatus);
        });

    });

    function qtyTouched(e) {
        if ($(e).val() == '')
            $(e).val("0");
        var qty = parseInt($(e).val());
        var name = $(e).attr('name').split('_')[1];
        var price = parseInt($("#spnPrice_" + name).val());
        $("#total_" + name).html('$' + (price * qty));
        CountTotal();
        CountCBMandWeight();

    }

    function removeItem(id) {
        if (confirm("Are you sure you want to remove this item from your cart?")) {
            $("#tr_" + id).fadeOut(300, function () {
                $(this).remove(); if ($("#lstProducts tr").length <= 0) {
                    $("#lineItem").hide();
                }
                CountTotal();
                CountCBMandWeight();
            });

        }
        return true;
    }

    function EnableButton() {
        if ($("#ProductId").val() != null && ($("#ProductQty").val() != null && $("#ProductQty").val() != "" && $("#ProductQty").val() > 0)) {
            $("#btnAddToCart").removeAttr("disabled");
        }
        else {
            $("#btnAddToCart").attr("disabled", "disabled");
        }
    }
    function CountTotal() {
        var OrderTotal = 0;
        $(".itemTotal").each(function () {
            OrderTotal = OrderTotal + parseInt($(this).text().replace('$', ''));
        });
        $(".order-total").html('$' + OrderTotal);
    }

    function CountCBMandWeight() {
            var totalWeight = 0;
            var totalCBM = 0;
            $(".itemTotal").each(function () {
                totalCBM = totalCBM + (isNaN(parseFloat($(this).attr("data-CBM"))) ? 0 : (parseFloat($(this).attr("data-CBM")) * parseFloat($(this).attr("data-qty"))));
                totalWeight = totalWeight + (isNaN(parseFloat($(this).attr("data-Weight"))) ? 0 : (parseFloat($(this).attr("data-Weight")) * parseFloat($(this).attr("data-qty"))));
            });
            $("#expectedCBM").html(isNaN(totalCBM) ? 0 : totalCBM);
            $("#expectedWeight").html(isNaN(totalWeight) ? 0 : totalWeight);
    }
</script>
