@{
    ViewBag.Title = "Order Details";
}
<style>
    .borderless td, .borderless th {
        border: none !important;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1>Order Details</h1>
    </div>
    <input type="hidden" value="@ViewBag.OrderId" id="OrderId" />
    <div class="text-right">
        <a href="/order/adminorders" class="btn btn-primary">  Back</a>
    </div>
    <div class="row">
        <div class="col-md-12">@ViewBag.OrderDate </div>
        <div class="col-md-12">
            @ViewBag.OrderName
        </div>
        <div class="col-md-12">
            Status <span style="background-color:cadetblue;padding:4px;color:#fff;"> <i class="fa fa-refresh"></i> @(((AritySystems.Common.EnumHelpers.OrderStatus)ViewBag.Status).ToString())</span>
        </div>
        <div class="row">
            <h3>Order Items :</h3>
        </div>
        <div class="row">
            <table class="table" id="tblOrderItemList">
                <thead>
                    <tr>
                        <th></th>
                        <th>Order Name</th>
                        <th>Product Name</th>
                        <th>Purchase Price($)</th>
                        <th>Sales Price($)</th>
                        <th>Purchase Price(Y)</th>
                        <th>Sales Price(Y)</th>
                        <th>Qunatity</th>
                        @*<th>Created Date</th>*@
                        <th>Suppliers</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row text-center">
            <div>
                <button class="btn btn-primary" id="btnSave">Save</button>
                <button class="btn btn-success" id="btnSubmit">Submit</button>
            </div>
        </div>

        <div class="row">
            <h3>Supplier Order Items :</h3>
        </div>
        <div class="row">
            <table class="display" id="tblSupplierOrderItemList">
                <thead>
                    <tr>
                        <th></th>
                        <th>Supplier Name</th>
                        <th>Order Prefix </th>
                        <th>Quantity</th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    
    <script>
        $("#btnSave").click(function () {
            alert("Order Line Item information saved successfully");
        });
        $("#btnSubmit").click(function () {
            var data = [];
            $('#tblOrderItemList tbody tr').each((index, item) => {
                data.push({
                    "OrderLineItemId": $(item).find('#txtId').val(),
                    "Quantity" : $(item).find('#txtQuantity').val(),
                    "SupplierId" : $(item).find('#jsonSupplierList :selected').val()
                })

            })
            var supplierCarton = JSON.stringify({"data":data})
            $.ajax({
                url: "@Url.Action("AddSupplierOrderLineItems", "Order")",
                method: "POST", 
                data: supplierCarton,
                dataType: "json",
                contentType:"application/json; charset=utf-8",
        }).done(function (response) {
            if (response.data != null) {
                
            }
        }).fail(function (jqXHR, textStatus) {
            console.log("Request failed: " + textStatus);
        });

        });

        $(document).ready(function () {
            var orderid = $('#OrderId').val();
            var table = $('#tblOrderItemList').DataTable({
                "ajax": "/Order/OrderLineItemList?OrderId=" + orderid,
                "columns": [
                    {
                        "data": "Id",
                        "orderable": false,
                        "render": function (data, type, full) {
                            return '<input type="hidden" id="txtId" value="' + data + '"/>'
                        }
                    },
                    { "data": "Order_Name" },
                    { "data": "Product_Name" },
                    { "data": "Purchase_Price_dollar" },
                    { "data": "Sales_Price_dollar" },
                    { "data": "Purchase_Price_rmb" },
                    { "data": "Sales_Price_rmb" },
                    {
                        "data": "quantity",
                        "render": function (data, type, full) {
                            return '<input type="text" id="txtQuantity" value="' + data + '"/>'
                        }    
                    },
                    //{
                    //    "data": "CreatedDate",
                    //},
                    {
                        "data": "Suppliers",
                        "render": function (data, type, row) {
                                ddl = '<select id="jsonSupplierList">';
                                $.each(data, function (i, item) {
                                        ddl += '<option value="' + item.Text + '">' + item.Value + '<option>';
                                });
                                ddl += '</select>';

                            return ddl;
                        }
                    }],
                "orderLineItems": [[1, 'asc']]
            });
            var table = $('#tblSupplierOrderItemList').DataTable({
                "ajax": "/Order/SuppliersOrderLineItemList?OrderId=" + orderid,
                "columns": [
                    {
                        "data": "Id",
                        "ordering": false,
                        "render": function (data, type, full) {
                            return '<input type="hidden" id="txtId" value="' + data + '"/>'
                        }
                    },
                    { "data": "SupplierName" },
                    { "data": "Order_Prefix" },
                    { "data": "Quantity" },
                    { "data": "Status" },
                    //{
                    //    "data": "CreatedDate",
                    //},
                ],
                "SupplierOrderLineItems": [[1, 'asc']]
            });

        });
    </script>
}
