@using AritySystems.Data;
@model Order
@{
    ViewBag.Title = "Order Detail";
    var itemCounter = 0;
    var userType = (Session["UserType"] != null) ? (int)Session["UserType"] : 0;
}

<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-shopping-cart"></i> @(userType == (int)AritySystems.Common.EnumHelpers.UserType.Admin ? "Order Details" : "Your Order Details")</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            @if (userType != (int)AritySystems.Common.EnumHelpers.UserType.Customer)
            {
                <div class="col-md-12">
                    Internal Order Status <span class="label label-success" style="padding:4px;color:#fff;"> <i class="fa fa-check-square-o"></i> @(((AritySystems.Common.EnumHelpers.InternalOrderStatus)Model.Internal_status).ToString())</span>
                </div>
            }
            <div class="col-md-12">
                Order Status <span class="label label-primary" style="padding:4px;color:#fff;"> <i class="fa fa-refresh"></i> @(((AritySystems.Common.EnumHelpers.OrderStatus)Model.Status).ToString())</span>
            </div>
            <div class="col-md-12">@Model.CreatedDate </div>
            <div class="col-md-12">
                @Model.Prefix
            </div>
            <div class="col-md-12">
                <b>Order Total:  <i class="fa fa-usd"></i>@Model.OrderLineItems.Sum(_ => (_.Quantity * _.DollarSalesPrice)) </b>
            </div>
            @if (userType == (int)AritySystems.Common.EnumHelpers.UserType.Admin)
            {
                <div class="col-md-12">
                    <b>Order Total:  <i class="fa fa-jpy"></i>@Model.OrderLineItems.Sum(_ => (_.Quantity * _.RMBPurchasePrice)) </b>
                </div>
                <div class="col-md-12">
                    <b>Order Profit:  <i class="fa fa-jpy"></i>@(Model.OrderLineItems.Sum(_ => (_.Quantity * _.RMBSalesPrice)) - Model.OrderLineItems.Sum(_ => (_.Quantity * _.RMBPurchasePrice))) </b>
                </div>
                <div class="col-md-12">
                    <div style="display:block;margin:10px 0 10px;">
                        <table class="no-border" style="width:100%">
                            <tr>
                                <td><b>Assign Sales Person</b></td>
                                <td>:</td>
                                <td> @Html.DropDownListFor(_ => _.Sales_Person_Id, ViewBag.SalesPersonList as SelectList, "-- Select Sales Person --", new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><b>Assign Exporter</b></td>
                                <td>:</td>
                                <td>  @Html.DropDownListFor(_ => _.ExporterId, ViewBag.ExporterList as SelectList, "-- Select Exporter --", new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td><b>Tearms & Condition</b></td>
                                <td>:</td>
                                <td>@Html.TextAreaFor(_ => _.TermsandCondition, new { @cals = "10", @rows = "5", @class = "form-control" }) <span style="display:block;font-style:italic;font-size:10px;">Note: Please add tearms and condition in order to put ','(comma) when one line is over and second is started. </span> </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center"><button type="button" id="btnSaveTearmsCondition"> Update Details</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
            <div class="col-md-12" style="margin:25px 0px 10px 0;">
                <h4>Order Line Items</h4>
            </div>
        </div>
        <div class="col-md-1 col-md-offset-3"><button class="btn btn-primary" onclick="location.href='@(userType == (int)AritySystems.Common.EnumHelpers.UserType.Admin? Url.Action("orders","order") :Url.Action("orderlist","order"))';"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button></div>
    </div>
    <div class="row">
        <hr class="col-md-12" style="margin-bottom:25px;" />
        <div class="col-md-12" style="margin-bottom:50px;">
            <table class="tab-content table-striped" style="width:100%">
                <tr>
                    <th class="col" style="width:3%">#</th>
                    <th class="col" style="width:10%">Name</th>
                    <th class="col" style="text-align:center">Quntity/Unit</th>
                    @if (userType == (int)AritySystems.Common.EnumHelpers.UserType.Admin)
                    {
                        <th class="col" style="text-align:right">Purchase Price($)</th>
                        <th class="col" style="text-align:right">Sales Price($)</th>
                        <th class="col" style="text-align:right">Purchase Price(RMB)</th>
                        <th class="col" style="text-align:right">Sales Price(RMB)</th>
                        <th class="col" style="text-align:right">Total Purchase($)</th>
                        <th class="col" style="text-align:right">Total Sales($)</th>
                        <th class="col" style="text-align:right">Total Purchase(RMB)</th>
                        <th class="col" style="text-align:right">Total Sales(RMB)</th>
                    }
                    else
                    {
                        <th class="col" style="text-align:right">Price</th>
                        <th class="col" style="text-align:right">Total</th>
                    }


                </tr>
                @foreach (var item in Model.OrderLineItems)
                {
                    <tr>

                        <td>@( itemCounter = itemCounter + 1)</td>
                        <td>@item.Product.English_Name</td>
                        <td align="center">@item.Quantity</td>
                        @if (userType == (int)AritySystems.Common.EnumHelpers.UserType.Admin)
                        {
                            <td align="right"><i class="fa fa-usd"></i>@item.DollarPurchasePrice</td>
                            <td align="right"><i class="fa fa-usd"></i>@item.DollarSalesPrice</td>
                            <td align="right"><i class="fa fa-jpy"></i>@item.RMBPurchasePrice</td>
                            <td align="right"><i class="fa fa-jpy"></i>@item.RMBSalesPrice</td>
                            <td align="right"><i class="fa fa-usd"></i>@(item.Quantity * item.DollarPurchasePrice)</td>
                            <td align="right"><i class="fa fa-usd"></i>@(item.Quantity * item.DollarSalesPrice)</td>
                            <td align="right"><i class="fa fa-jpy"></i>@(item.Quantity * item.RMBPurchasePrice)</td>
                            <td align="right"><i class="fa fa-jpy"></i>@(item.Quantity * item.RMBSalesPrice)</td>}
                        else
                        {
                            <td align="right"><i class="fa fa-usd"></i>@item.DollarPurchasePrice</td>
                            <td align="right"><i class="fa fa-usd"></i>@(item.Quantity * item.DollarPurchasePrice)</td>
                        }


                    </tr>
                }
                <tr>
                    <td colspan="3" align="right"><b>Order Total :</b></td>
                    @if (userType == (int)AritySystems.Common.EnumHelpers.UserType.Admin)
                    {
                        <td align="right"><i class="fa fa-usd"></i>@(Model.OrderLineItems.Sum(_ => _.DollarPurchasePrice))</td>
                        <td align="right"><i class="fa fa-usd"></i>@(Model.OrderLineItems.Sum(_ => _.DollarSalesPrice))</td>
                        <td align="right"><i class="fa fa-jpy"></i>@(Model.OrderLineItems.Sum(_ => _.RMBPurchasePrice))</td>
                        <td align="right"><i class="fa fa-jpy"></i>@(Model.OrderLineItems.Sum(_ => _.RMBSalesPrice))</td>
                        <td align="right"><i class="fa fa-usd"></i>@(Model.OrderLineItems.Sum(_ => (_.DollarPurchasePrice * _.Quantity)))</td>
                        <td align="right"><i class="fa fa-usd"></i>@(Model.OrderLineItems.Sum(_ => (_.DollarSalesPrice * _.Quantity)))</td>
                        <td align="right"><i class="fa fa-jpy"></i>@(Model.OrderLineItems.Sum(_ => (_.RMBPurchasePrice * _.Quantity)))</td>
                        <td align="right"><i class="fa fa-jpy"></i>@(Model.OrderLineItems.Sum(_ => (_.RMBSalesPrice * _.Quantity)))</td>}
                    else
                    {
                        <td align="right"><i class="fa fa-usd"></i>@(Model.OrderLineItems.Sum(_ => _.DollarPurchasePrice))</td>
                        <td align="right"><i class="fa fa-usd"></i>@(Model.OrderLineItems.Sum(_ => (_.DollarPurchasePrice * _.Quantity)))</td>
                    }
                </tr>
            </table>
            @if (Model.Internal_status == (int)AritySystems.Common.EnumHelpers.InternalOrderStatus.WaitForAdminAproved && userType == (int)AritySystems.Common.EnumHelpers.UserType.Admin)
            {
                <div class="col-md-7 col-md-offset-5" style="margin-top:50px;">
                    <button class="btn btn-success" id="btnApproved">Approve</button>
                    <button class="btn btn-danger" id="btnreject">Reject</button>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $('select').chosen();
        $("#Sales_Person_Id").on("change", function () {
            $.ajax({
                url: "@Url.Action("AssignSalesPersonToOrder", "Order")",
                method: "GET",
                data: { id: @Model.Id, salesPerson:$(this).val() == '' ? 0 : $(this).val()  },
                dataType: "json"
            }).done(function (response) {
                location.reload();
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
            });
        });
        $("#ExporterId").on("change", function () {
            $.ajax({
                url: "@Url.Action("AssignExporterToOrder", "Order")",
                method: "GET",
                data: { id: @Model.Id, exporterId:$(this).val() == '' ? 0 : $(this).val()  },
                dataType: "json"
            }).done(function (response) {
                location.reload();
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
            });
        });
        $("#btnApproved").on("click", function () {
            updateStatus(@((int)AritySystems.Common.EnumHelpers.InternalOrderStatus.Approved));
        });
        $("#btnreject").on("click", function () {
            updateStatus(@((int)AritySystems.Common.EnumHelpers.InternalOrderStatus.Rejected));
        });
        $("#btnSaveTearmsCondition").on("click", function () {
             $.ajax({
                url: "@Url.Action("UpdateTearmsAndCondition", "Order")",
                method: "POST",
                 data: { id: @Model.Id, Tearms: $("#TermsandCondition").val()  },
                dataType: "json"
             }).done(function (response) {
                 alert("Tearms and condition updated.");
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
            });
        });
        function updateStatus(status) {
            $.ajax({
                url: "@Url.Action("OrderInternamStatuseChange", "Order")",
                method: "POST",
                data: { id: @Model.Id, status:status  },
                dataType: "json"
            }).done(function (response) {
                location.reload();
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
            });
        }
    </script>
}